<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.GIC.testcase.login.GIC_Login02Test"/>
      <class name="com.GIC.testcase.registration.GIC_Register01Test"/>
      <class name="com.GIC.testcase.login.GIC_Login04Test"/>
      <class name="com.GIC.testcase.login.GIC_Login03Test"/>
      <class name="com.GIC.testcase.login.GIC_Login01Test"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
